.container{
    font-size: 20px;
    margin: 4vw 0 1vw 0;
    box-sizing: border-box;
    padding: 1vw;
    width: 60vw;
    font-family: serif;
    padding: 2px 16px;
    box-shadow: 0 2px 4px 0 rgb(245, 164, 164);
    transition: 0.3s;
    background-color: #fff;
    border-radius: 10px;
  }

  /* On mouse-over, add a deeper shadow */
.container:hover {
    box-shadow: 0 4px 12px 0 rgba(48, 10, 36, 0.938);
}

  /* Add some padding inside the card container */
.img {
    font-size: 20px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.name {
    text-align: center;
    font-weight: bolder;
    font-size: large;
}


.description {
    font-size: medium;
    margin-top: 1vw;
    text-align: center;
}


.add_button, .buy_button {
    background-color: rgb(241, 67, 67);
    border: 0;
    padding: 1vw 2vw;
    font-size: large;
    transition: 0.3s;
    border-radius: 0.4vw;
}

.add_button:hover, .buy_button:hover {
    transform: scale(1.05);
}

.add_button:active, .buy_button:active{
    transform: scale(0.95);
}

.buy_button{
    background-color: rgb(255, 205, 205);
}

.button_container{
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin-top: 10px;
}

@media screen and (min-width: 700px) {
    .container {
        width: 25vw;
        height: 63vw;
    }

    .img{
        height: 25vw;
    }

    .description{
        height: 8vw;
    }
}

@media screen and (min-width: 1000px) {
    .container {
        width: 30vw;
        height: 40vw;
    }

    .description{
        height: 4vw;
    }
}

@media screen and (min-width: 1300px) {
    .container {
        width: 25vw;
    }
}
